*{
	margin:0;
	padding:0;
}

body{
	background-color: #252525;

}

/* Title*/
.box-1{

	height:325px;
	background-color: #222;
	background-image: url(../images/headerImage.png);
	background-position: left;
	background-blend-mode: color-dodge;
}
.header{
	font-size: 18px;
	padding-top: 75px;
	text-align: center;
	font-family: Arial;
	color: #fff;
	font-style: oblique;
}	

/*all the text*/
.container{

	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
}

/*Title, gif and body*/
#gif{
	padding: 20px;
	float:left;
}

.text-block{
	padding: 20px;

}

.text-block h3{

	padding-top: 20px;
}

.text-block p{

	padding-top: 30px;
}

/*steps*/
